<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="background-color:burlywood" >@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
     <p>Thank You Come Again!</p>
</body>
</html>
