
@{
    ViewData["Title"] = "RestContent";
    Layout = "~/Views/Shared/Menu.cshtml";
}

@section Greetings{
    <h1>Hello and Welcome to Kalid's Restaurant!</h1>
}

@section Footer{
    <footer>All rights reserved 2022.</footer>
}
